.bake-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(98, 189, 219);
    color: white;
}
.Bakecards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}